.main-composant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-composant{
    padding: 0.5rem;
    width: 100%;
}
.hero-composant-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background: rgb(50,35,21);
    background: linear-gradient(135deg, rgba(50,35,21,1) 0%, rgba(15,15,16,1) 50%, rgba(43,21,45,1) 100%);
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.hero-composant h1{
    position: fixed;
    color: #F6AB65;
    font-size: 7rem;
    font-weight: 900;
}
.composant-section1{
    display: flex;
    width: 100%;
    padding:0rem 2rem;
}
.sidebar{
    width: 30%;
}
.sidebar h3{
    margin: 1rem 0;
    font-size: 2rem;
}
.sidebar ul {list-style-type: none; padding-left: 2rem;}
.sidebar ul li {
    margin-bottom: 10px;
    font-weight: 600;
    cursor: pointer;

}
li.current{
    background-color: #F6AB65;
    border-radius: 10px;
    padding:0 1rem;
    width: 100px;
    text-align: center;
    font-weight: 700;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}
@keyframes wipe-in-right {
    from {clip-path: inset(0 100% 0 0);}
    to {clip-path: inset(0 0 0 0);}
}


.content-section{
    padding: 1rem;
}